<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="<%=siteConfig.cmsDescription%>">
    <meta content="<%=siteConfig.keywords%>" name="keywords" />
    <meta name="author" content="DoraCMS">
    <title><%=siteConfig.title%></title>
    <link rel="icon" href="/themes/<%=staticforder%>/images/favicon.ico">


    <script src="/themes/<%=staticforder%>/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="/javascripts/dora.public.js?vesion=<%=siteConfig.version%>"></script>
    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/themes/<%=staticforder%>/css/newblue.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/themes/<%=staticforder%>/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/themes/<%=staticforder%>/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<%- include header %>


<%-body %>

<!-- BEGIN FOOTER -->
<%- include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/themes/<%=staticforder%>/js/blue.js" type="text/javascript"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/themes/<%=staticforder%>/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>